<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoRailsBase</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class = "navbar navbar-toggleable-md navbar-light bg-inverse">
      <ul class="navbar-nav mr-auto">
        <li class ="nav-item active">
    <%= link_to 'Courses', courses_path %>
</li>
<li class ="nav-item">
    <%= link_to 'People', people_path %>
</li>
<li class ="nav-item">
    <%if model_signed_in? %>
    <%= link_to('Log out' , destroy_model_session_path, :method => :delete) %>
    <% end %>
  </li>
</ul>
  </nav>


    <% if @course %>

      <div >
        <nav class = "navbar navbar-light bg-faded">

        <%= render 'courses/navbar', course: @course %>

        </nav>
      </div>


    <% end %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
